
body, html {
    height: 100%;
    margin: 0;
    background: linear-gradient(rgba(60, 21, 253, 0.553), rgba(27, 23, 255, 0.7)), 
    url('walpaper1.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background: transparent;
}
.container{
    width: 800px;
    height: 600px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding-bottom: 2vmin;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
.container::-webkit-scrollbar{
    display: none;
}
.fixed_div{
    border-radius: 12px 12px 0px 0px;
    background-color: wheat;
    position: sticky;
    top: 0;
    z-index: 3;
    padding: 10px;
    text-align: center;
}
thead{
    position: fixed;
    top: 23vmin;
    z-index: 2;
    width: 800px;
    background-color: white;
}
th{
    width: 200px;
    text-align: center;
}
h2 {
    text-align: center;
    font-weight: bold;
    color: #333;
    margin-bottom: 0;
}
.table {
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
}
.table th {
    background: rgb(16, 16, 16);
    color: white;
    text-align: center;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table td, .table th {
    /* padding: 12px; */
    text-align: center;
}
.badge {
    font-size: 14px;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 20px;
}
.badge-gold {
    background: linear-gradient(135deg, #ffd700, #ffcc00);
    color: #333;
}
.badge-silver {
    background: linear-gradient(135deg, #c0c0c0, #d9d9d9);
    color: #333;
}
.badge-bronze {
    background: linear-gradient(135deg, #cd7f32, #b87333);
    color: white;
}
.badge-secondary {
    background: #6c757d;
    color: white;
}
.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    margin-left: 32vmin;
}
.btn-primary:hover {
    background: #0056b3;
}
tbody tr.first {
    position: relative;
    top: 0;
}
.table-striped{
    margin-top: 5vmin;
}