    
        body {
           margin:0;
           padding: 0;
           background: linear-gradient(rgba(60, 21, 253, 0.553), rgba(27, 23, 255, 0.7)), 
           url('walpaper1.jpg');
            background-repeat: no-repeat;
            background-size: cover;  
            height: 80vmin !important;    
            top: 0;     
        }

       .container {
        margin:auto;
        margin-top:20vmin;
           max-width: 60vmin;
           padding: 30px;
           border-radius: 8px;
           
           background-color: rgb(255,255,255,0.5);  /* Make the container background transparent */
           border: none;  /* Remove any border */
           border-radius:5vmin;
           margin-bottom: 20vmin;
       }
       .innercontainer{
        margin-left:6vmin;
       }
        .form-control {
            border-radius: 0.5rem;
            width:40vmin;
           
        }

        .form-group label {
            font-weight: bold;
        }

        h2 {
            font-size: 2rem;
            margin-bottom: 30px;
            text-align: center;
        }

        .btn-primary {
            border-radius: 0.5rem;
            font-size: 1.1rem;
            padding: 10px 20px;
        }

        .form-group textarea {
            min-height: 150px;
        }
        input{
            width:10vmin;
            padding: 5px;
        }
        input::placeholder {
            color:black;
            font-style: italic;
            font-size: 14px;
          }
          .btn{
            max-width:20vmin;
            margin-bottom:2vmin;
            margin-left:7vmin;
        }
        label{
            margin-left:2vmin;
        }
        .col-12{
            margin:0;
        }
        .a{
            margin-left:5vmin;
        }