body {
    background: linear-gradient(rgba(60, 21, 253, 0.553), rgba(27, 23, 255, 0.7)), 
    url('walpaper1.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    height: 90vmin;          
}
.container {
    max-width: 800px;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    background-color: transparent;
    border: none;
    margin-top:15vmin ;
}
.result {
    font-size: 1.5rem;
    margin-top: 20px;
}
.btn {
    font-size: 1.1rem;
    padding: 10px 20px;
}
.badge-img {
    width: 100px;
    margin-top: 20px;
}
.courses {
    margin-top: 30px;
    font-size: 1.2rem;
}
.course-item {
    margin: 5px 0;
}
.course-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.course-link:hover {
    text-decoration: underline;
}
.col-12 {
    max-width: 250px;
    margin-top:2vmin;
    margin-left:28vmin;
}
.links{
    color: white;
}
.container{
    color: white;
}