body {
    background-color: #b0c4de;        
}
.container {
    max-width: 100%;
    padding-left:5vmin;
    padding-top: 50px;
    text-align: center;
    margin-top: 8vmin;
    z-index: 0;
}
.btn {
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 10px;
    position:static;
}
#back{
    background-color: black;
    position: fixed;
    z-index: 10;
}
#questions-container {
    margin-top: 30px;
    text-align: left;
}
.question-container {
    margin-bottom: 20px;
    font-size:2.5vmin;
}
.question-container label {
    font-weight: bold;
}
.form-check-label {
    margin-left: 2vmin;
}
#submitBtn {
    display: none;
    margin:5vmin;
    margin-left: 15vmin;
}
input[type="radio"] {
    cursor: pointer;
    transform: scale(2);
    padding: 0.5vmin;
    margin-top:1.5vmin;
}
input:hover{
    cursor: pointer;
}
.form-check{
    margin-bottom: 1vmin;
    margin-left:4vmin;
    padding: 0;
    
}
h2{
    font-size: 4vmin;
}
.btn{
    text-transform: capitalize;
}
.textbtn{
    font-size: 4vmin;
    font-weight: 600;
    background-color: #007FFF;
    color: white;
    border-radius: 0.5vmin;
    text-transform: capitalize;
    padding:0.5vmin;
    padding-left:2vmin;
    padding-right:2vmin;
}